Ten eerste willen we inzicht krijgen in de data dit doen we door met behulp van pandas de data in te laden uit de csv. Daarnaast is het handig om het pad naar de images direct op te slaan.

In [24]:
import pandas as pd
bees_df = pd.read_csv('bee_data.csv')
bees_df.sample(100).head()

,file,date,time,location,zip code,subspecies,health,pollen_carrying,caste
1987,016_038.png,8/20/18,11:55,"San Jose, CA, USA",95124,-1,healthy,False,worker
3486,015_835.png,8/6/18,13:19,"Saratoga, CA, USA",95070,Italian honey bee,healthy,False,worker
1546,040_461.png,8/21/18,15:56,"Athens, GA, USA",30607,Italian honey bee,"few varrao, hive beetles",False,worker
2456,004_107.png,7/2/18,15:30,"Saratoga, CA, USA",95070,Italian honey bee,healthy,False,worker
4841,019_597.png,8/6/18,19:19,"Saratoga, CA, USA",95070,Italian honey bee,healthy,False,worker

In [28]:
IMG_PATH = "./bee_imgs/bee_imgs/"

In [7]:
bees_df.shape

(5172, 9)

In [10]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data(bees_df)

                 Total  Percent
file                 0      0.0
date                 0      0.0
time                 0      0.0
location             0      0.0
zip code             0      0.0
subspecies           0      0.0
health               0      0.0
pollen_carrying      0      0.0
caste                0      0.0

In [29]:
import os
image_files = list(os.listdir(IMG_PATH))
print("Number of image files: {}".format(len(image_files)))

Number of image files: 5172

In [33]:
file_names = list(bees_df['file'])
print("Matching image names: {}".format(len(set(file_names).intersection(image_files))))

Matching image names: 5172

In [ ]:
import skimage
import skimage.io
import skimage.transform
def read_image_sizes(file_name):
    image = skimage.io.imread(IMG_PATH + file_name)
    return list(image.shape)

In [ ]:
import numpy as np
imagenames = bees_df.loc[:, "file"]
for index, value in imagenames.items():
    m = np.stack(bees_df['file'].apply(read_image_sizes))
    df = pd.DataFrame(m,columns=['w','h','c'])
    bees_df = pd.concat([bees_df, df], axis = 1, sort=False)

In [ ]:
import matplotlib.pyplot as plt
# Fixing random state for reproducibility
# np.random.seed(19680801)
# N = 50
# x = np.random.rand(N)
# y = np.random.rand(N)
# colors = np.random.rand(N)
# area = (30 * np.random.rand(N))**2  # 0 to 15 point radii
plt.scatter(x, y, s=area, c=colors, alpha=0.5)
plt.show()